/**
 * 基础文件
 * 包含所有变量定义
 */

/*颜色定义*/
$nd-whitecolor:#fff;
$nd-blackcolor:#000;
/*前景色，深色和浅色*/
/*normal color*/


//特殊色
$nd-activecolor: rgb(40,100,200);
$nd-successcolor: rgb(41,192,75);
$nd-warncolor: gold;
$nd-errorcolor: #f00;


/*超链接颜色*/
$nd-linkcolor:rgb(38,117,246);
$nd-linkcolorvisted:rgb(30,100,200);

//黑色主题
/*
//阴影色
$nd-shadecolor: #000;
//前景色
//通用色
$nd-forecolor1: rgb(193,193,193);
//重点色1
$nd-forecolor2: rgb(225,225,225);
//重点色2
$nd-forecolor3: rgb(255,255,255);
//特殊色背景下的前景色
$nd-forecolor4: #fff;
//背景色
//主背景

$nd-color1: rgb(23,23,23);  //主背景
$nd-color2: rgb(27,27,27);  //tree、accordion、form、toolbar、button group、 tab header
$nd-color3: rgb(34,34,34);  //tab button
$nd-color4: rgb(39,39,39);  //menu
$nd-color5: rgb(46,46,46);  //input、panel-title、selected
$nd-color6: rgb(50,50,50);  //line
$nd-color7: rgb(63,63,63);  //滚动条 mouseover border
$nd-color8: rgb(85,85,85);  //按钮
$nd-color9: rgb(100,100,100); //tip
*/
//白色主题
//阴影色
$nd-shadecolor: #777;
//前景色
//通用色
$nd-forecolor1:#666;
//重点色1
$nd-forecolor2: #333;
//重点色2
$nd-forecolor3: #111;
//特殊色背景下的前景色
$nd-forecolor4: #fff;
//背景色
//主背景

$nd-color1:#fff;  //主背景
$nd-color2: #f1f1f1;  //tree、accordion、form、toolbar、button group、 tab header
$nd-color3: #e1e1e1;  //tab button
$nd-color4: #d1d1d1;  //menu
$nd-color5: #e1e1e1;  //input、panel-title、selected
$nd-color6: #c1c1c1;  //line
$nd-color7: #a1a1a1;  //滚动条 mouseover border
$nd-color8: #a1a1a1;  //按钮
$nd-color9: #333;  //按钮

$nd-forecolor: $nd-blackcolor;
@function nd-genforecolor($color) {
    $lg:lightness($nd-color1);
    $nd-forecolor: mix($nd-whitecolor,$nd-blackcolor,100%-$lg);
} 


//颜色序列
$nd-listcolor: $nd-color1 $nd-color2 $nd-color3 $nd-color4 $nd-color5 $nd-color6 $nd-color7 $nd-color8 $nd-color9;  
/*颜色 混合*/
@mixin nd-color($index){
    background-color: nth($nd-listcolor,$index);
    color:$nd-forecolor1;
}

 /*size定义*/
/*全局padding*/
$nd-padding: 10px;
/*全局圆角*/
$nd-radius: 5px;
/*标题 padding*/
$nd-title-padding: 15px;
/*表格高度*/
$nd-gridhead-height: 60px;
/*下拉框离显示框距离*/
$nd-dropdown-margin: 3px;
/*按钮padding*/
$nd-btn-padding-left: 15px;
$nd-btn-padding-top: 8px;
/*字体大小*/
$nd-fonttiny: 10px;
$nd-fontsmall: 12px;
$nd-fontnormal: 14px;
$nd-fontlarge: 16px;
$nd-fontlarger: 18px;
$nd-fontlargest: 20px;


/*zindex*/
$nd-tip-index: 1000;
$nd-dialog-index: 999;
$nd-menu-index: 998;
$nd-combo-index: 997;


/*item active*/
.nd-item-active{
    background-color:$nd-activecolor;
    color:$nd-forecolor2;
}
/*menu active*/
.nd-menu-active{
    background-color: $nd-color6;
    color:$nd-forecolor2;
}


/*框*/
@mixin nd-box-bg($color){
    $bg:mix(#fff,$color,90%);
    background-color:$bg;
    // border:1px solid $color;
    @if lightness($bg) > 70% {
        color:mix(#000,$color,20%);
    } @else {
        color:#fff;
    }
}


.nd-box-default{
    background-color:$nd-color9;
    border:1px solid $nd-color9;
    color:$nd-forecolor4;
}

/*active颜色框*/
.nd-box-active{
    @include nd-box-bg($nd-activecolor);
}
/*success 颜色框*/
.nd-box-success{
    @include nd-box-bg($nd-successcolor);
}

/*warn颜色框*/
.nd-box-warn{
    @include nd-box-bg($nd-warncolor);
}


/*error颜色框*/
.nd-box-error{
    @include nd-box-bg($nd-errorcolor);
}

/*link*/
a:link{
    color:$nd-linkcolor;
    text-decoration: none;
}

a:hover{
    color:$nd-linkcolorvisted;
}

a:visited{
    color:$nd-linkcolorvisted;
}


/*边框*/
.nd-border{
    border:1px solid $nd-color6;
}

.nd-border-shader{
    // border:1px solid $nd-color6;
    box-shadow: $nd-shadecolor 3px 3px 5px;
}

/*框体padding*/
.nd-padding{
    padding:$nd-padding * 2;
}

/*禁用*/
.nd-disable{
    color:grey;
    cursor:not-allowed;
    &:hover{
        color:grey;
        background-color:transparent;
    }
}

/*可以click*/
.nd-canclick{
    cursor:pointer;
    // &:hover{
    //     color:$nd-forecolor2;
    // }
}

/*输入框*/
.nd-input{
    padding:$nd-padding;
    @include nd-color(1);
    border-radius:$nd-radius;
    border:1px solid $nd-color5;
    &:hover{
        border-color:$nd-color3;
    }
}
/*带图标输入框*/
.nd-input-icon{
    @extend .nd-input; 
    display:flex;
    :last-child{
        flex:0;
        padding:0;
    }
    input{
        margin:0;
        padding:0;
        border:0;
        // @include nd-color(4);
        flex:1;
    }
}


/*global*/
body{
    padding:0;
    margin:0;
    @include nd-color(1);
    font-size: $nd-fontnormal;
}


button,input{
    outline:none;
}

/**滚动条**/
::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track
{
    @include nd-color(1);
    // border-left:1px solid $nd-color5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb{
    border-radius: $nd-padding;
    @include nd-color(5);
    &:hover{
        @include nd-color(6);
    }
}