@charset "UTF-8";
/**
 * 基础文件
 * 包含所有变量定义
 */
/*颜色定义*/
/*前景色，深色和浅色*/
/*current color*/
/*浅色框字体颜色*/
/*背景色*/
/*超链接颜色*/
/*颜色 混合*/
/*size定义*/
/*全局padding*/
/*全局圆角*/
/*标题 padding*/
/*表格高度*/
/*下拉框离显示框距离*/
/*按钮padding*/
/*字体大小*/
/*zindex*/
/*item active*/
.nd-item-selectcolor {
  background-color: #ae163d;
  color: white; }

/*menu active*/
.nd-item-hovercolor {
  background-color: #323232;
  color: white; }

/*框*/
.nd-box-default {
  background-color: #323232;
  color: #c1c1c1; }

/*active颜色框*/
.nd-box-active {
  background-color: #ae163d;
  border: 1px solid #ae163d;
  color: #fff; }

/*success 颜色框*/
.nd-box-success {
  background-color: #29c04b;
  border: 1px solid #29c04b;
  color: #fff; }

/*warn颜色框*/
.nd-box-warn {
  background-color: gold;
  border: 1px solid gold;
  color: #fff; }

/*error颜色框*/
.nd-box-error {
  background-color: #f00;
  border: 1px solid #f00;
  color: #fff; }

/*link*/
a:link {
  color: #669933;
  text-decoration: none; }

a:hover {
  color: #99CC99; }

a:visited {
  color: #99CC99; }

/*边框*/
.nd-border {
  border: 1px solid #323232; }

/*框体padding*/
.nd-padding {
  padding: 20px; }

/*禁用*/
.nd-disable {
  color: grey;
  cursor: not-allowed; }
  .nd-disable:hover {
    color: grey;
    background-color: transparent; }

/*可以click*/
.nd-canclick {
  cursor: pointer; }
  .nd-canclick:hover {
    color: white; }

/*输入框*/
.nd-input, .nd-input-icon {
  padding: 10px;
  background-color: #171717;
  color: #c1c1c1;
  border-radius: 5px;
  border: 1px solid #2e2e2e; }
  .nd-input:hover, .nd-input-icon:hover {
    border-color: #222222; }

/*带图标输入框*/
.nd-input-icon {
  display: flex; }
  .nd-input-icon :last-child {
    flex: 0;
    padding: 0; }
  .nd-input-icon input {
    margin: 0;
    padding: 0;
    border: 0;
    flex: 1; }

/*global*/
body {
  padding: 0;
  margin: 0;
  background-color: #171717;
  color: #c1c1c1;
  font-size: 14px; }

button, input {
  outline: none; }

/**滚动条**/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #171717;
  color: #c1c1c1; }

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2e2e2e;
  color: #c1c1c1; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #323232;
    color: #c1c1c1; }

/**按钮**/
.nd-btn {
  display: inline-block;
  cursor: pointer;
  background-color: #3f3f3f;
  color: #c1c1c1;
  border-radius: 5px;
  border: 0px;
  padding: 8px 15px; }
  .nd-btn:hover {
    color: white; }

.nd-btn-nobg {
  background-color: transparent; }

/*无图标*/
/*有图标*/
.nd-btn-small {
  font-size: 12px; }

.nd-btn-normal {
  font-size: 14px; }

.nd-btn-big {
  font-size: 20px; }

/*无文字*/
.nd-btn-notext {
  padding: 8px; }

/*图标纵向*/
.nd-btn-vert {
  display: block; }

/*不同色按钮*/
/*active背景色*/
.nd-btn-active {
  background-color: #ae163d; }
  .nd-btn-active:hover {
    color: mit(#ae163d, #eeeeee); }

/*success 背景色*/
.nd-btn-success {
  background-color: #29c04b; }
  .nd-btn-success:hover {
    color: mit(#ae163d, #eeeeee); }

/*warn背景色*/
.nd-btn-warn {
  background-color: gold; }
  .nd-btn-warn:hover {
    color: mit(#ae163d, #eeeeee); }

/*warn背景色*/
.nd-btn-error {
  background-color: #f00; }
  .nd-btn-error:hover {
    color: mit(#ae163d, #eeeeee); }

/*# sourceMappingURL=button.css.map */
