//灰色
.grey1{
    background:$nd-color-grey1;
}

.grey2{
    background:$nd-color-grey2;
}

.grey3{
    background:$nd-color-grey3;
}

.grey4{
    background:$nd-color-grey4;
}

.grey5{
    background:$nd-color-grey5;
}


.active1{
    background:$nd-color-active1;
}

.active2{
    background:$nd-color-active2;
}
.active3{
    background:$nd-color-active3;
}
.active4{
    background:$nd-color-active4;
}
.active5{
    background:$nd-color-active5;
}
