@charset "UTF-8";
/**
 * 基础文件
 * 包含所有变量定义
 */
/*颜色定义*/
/*前景色，深色和浅色*/
/*current color*/
/*浅色框字体颜色*/
/*背景色*/
/*超链接颜色*/
/*颜色 混合*/
/*size定义*/
/*全局padding*/
/*全局圆角*/
/*标题 padding*/
/*表格高度*/
/*下拉框离显示框距离*/
/*按钮padding*/
/*字体大小*/
/*zindex*/
/*global*/
body {
  padding: 0;
  margin: 0;
  background-color: #171717;
  color: #c1c1c1;
  font-size: 14px; }

button, input {
  outline: none; }

/*item active*/
.nd-item-active, .nd-datetime .nd-datetime-datetbl .nd-datetime-dates .nd-datetime-selected, .nd-datetime .nd-datetime-timetbl .nd-datetime-timect > div .nd-datetime-itemselect {
  background-color: #84cffc;
  color: white; }

/*menu active*/
.nd-menu-active {
  background-color: #323232;
  color: white; }

/*link*/
a:link {
  color: #669933;
  text-decoration: none; }

a:hover {
  color: #99CC99; }

a:visited {
  color: #99CC99; }

/*激活背景色*/
.nd-active {
  background-color: #84cffc; }
  .nd-active:hover {
    background-color: multiply(#84cffc, #eeeeee); }

/*强调背景色*/
.nd-success {
  background-color: #517f3c; }
  .nd-success:hover {
    background-color: multiply(#517f3c, #eeeeee); }

/*警告背景色*/
.nd-warn {
  background-color: gold; }
  .nd-warn:hover {
    background-color: multiply(gold, #eeeeee); }

/*框*/
.nd-box-default {
  background-color: #323232;
  color: #c1c1c1; }

.nd-box-active {
  background-color: tint(#84cffc, 30%) !important;
  border: 1px solid #84cffc !important;
  color: #333; }

/*不同颜色框*/
.nd-box-success {
  background-color: #9fc88c;
  border: 1px solid #517f3c;
  color: #333; }

/*不同颜色框*/
.nd-box-warn {
  background-color: #ffef99;
  border: 1px solid gold;
  color: #333; }

/*不同颜色框*/
.nd-box-error {
  background-color: #ff3333;
  border: 1px solid #900;
  color: #333; }

/*边框*/
.nd-border, .nd-datetime .nd-datetime-picker {
  border: 1px solid #323232; }

.nd-border-shader {
  border: 1px solid #323232;
  box-shadow: #000 3px 3px 5px; }

/*框体padding*/
.nd-padding {
  padding: 20px; }

/*禁用*/
.nd-disable, .nd-datetime .nd-datetime-datetbl .nd-datetime-dates .nd-datetime-disable {
  color: grey;
  cursor: not-allowed; }
  .nd-disable:hover, .nd-datetime .nd-datetime-datetbl .nd-datetime-dates .nd-datetime-disable:hover {
    color: grey;
    background-color: transparent; }

/*可以click*/
.nd-canclick, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct > b, .nd-datetime .nd-datetime-datetbl .nd-datetime-dates > span {
  cursor: pointer; }
  .nd-canclick:hover, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct > b:hover, .nd-datetime .nd-datetime-datetbl .nd-datetime-dates > span:hover {
    color: white; }

/*输入框*/
.nd-input, .nd-input-icon, .nd-datetime .nd-datetime-field, .nd-datetime .nd-datetime-timetbl > input {
  padding: 10px;
  background-color: #171717;
  color: #c1c1c1;
  border-radius: 5px;
  border: 1px solid #2e2e2e; }
  .nd-input:hover, .nd-input-icon:hover, .nd-datetime .nd-datetime-field:hover, .nd-datetime .nd-datetime-timetbl > input:hover {
    border-color: #222222; }

/*带图标输入框*/
.nd-input-icon, .nd-datetime .nd-datetime-field {
  display: flex; }
  .nd-input-icon :last-child, .nd-datetime .nd-datetime-field :last-child {
    flex: 0;
    padding: 0; }
  .nd-input-icon input, .nd-datetime .nd-datetime-field input {
    margin: 0;
    padding: 0;
    border: 0;
    flex: 1; }

/**滚动条**/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #171717;
  color: #c1c1c1; }

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2e2e2e;
  color: #c1c1c1; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #323232;
    color: #c1c1c1; }

@font-face {
  font-family: "nd-iconfont";
  src: url("font/iconfont.ttf"), url("font/iconfont.woff"); }
/*icon size*/
.nd-icon-sizesmall {
  font-size: 12px; }

.nd-icon-sizenormal {
  font-size: 14px; }

.nd-icon-sizebig {
  font-size: 20px; }

/*icon class*/
/*菜单，树右向箭头*/
.nd-icon-right {
  font-family: nd-iconfont; }
  .nd-icon-right:before {
    content: ""; }

/*复选框，未选中*/
.nd-icon-checkbox {
  font-family: nd-iconfont; }
  .nd-icon-checkbox:before {
    content: ""; }

/*复选框，已选中*/
.nd-icon-checked {
  font-family: nd-iconfont; }
  .nd-icon-checked:before {
    content: ""; }

/*单选框，未选中*/
.nd-icon-radio {
  font-family: nd-iconfont; }
  .nd-icon-radio:before {
    content: ""; }

/*单选框，已选中*/
.nd-icon-radio-active {
  font-family: nd-iconfont; }
  .nd-icon-radio-active:before {
    content: ""; }

/*减号*/
.nd-icon-minus {
  font-family: nd-iconfont; }
  .nd-icon-minus:before {
    content: ""; }

/*加号*/
.nd-icon-add {
  font-family: nd-iconfont; }
  .nd-icon-add:before {
    content: ""; }

/*关闭*/
.nd-icon-close {
  font-family: nd-iconfont; }
  .nd-icon-close:before {
    content: ""; }

/*加号(不带圆圈)*/
.nd-icon-add-select {
  font-family: nd-iconfont; }
  .nd-icon-add-select:before {
    content: ""; }

/*减号(不带圆圈)*/
.nd-icon-sami-select {
  font-family: nd-iconfont; }
  .nd-icon-sami-select:before {
    content: ""; }

/*提示*/
.nd-icon-prompt {
  font-family: nd-iconfont; }
  .nd-icon-prompt:before {
    content: ""; }

/*查询*/
.nd-icon-search {
  font-family: nd-iconfont; }
  .nd-icon-search:before {
    content: ""; }

/*上箭头*/
.nd-icon-arrow-up {
  font-family: nd-iconfont; }
  .nd-icon-arrow-up:before {
    content: ""; }

/*下箭头*/
.nd-icon-arrow-down {
  font-family: nd-iconfont; }
  .nd-icon-arrow-down:before {
    content: ""; }

/*右箭头*/
.nd-icon-arrow-right, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-rightarrow {
  font-family: nd-iconfont; }
  .nd-icon-arrow-right:before, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-rightarrow:before {
    content: ""; }

/*双右箭头*/
.nd-icon-double-arrow-right, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-rightarrow1 {
  font-family: nd-iconfont; }
  .nd-icon-double-arrow-right:before, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-rightarrow1:before {
    content: ""; }

/*左箭头*/
.nd-icon-arrow-left, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-leftarrow {
  font-family: nd-iconfont; }
  .nd-icon-arrow-left:before, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-leftarrow:before {
    content: ""; }

/*双左箭头*/
.nd-icon-double-arrow-left, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-leftarrow1 {
  font-family: nd-iconfont; }
  .nd-icon-double-arrow-left:before, .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-leftarrow1:before {
    content: ""; }

/*编辑*/
.nd-icon-edit {
  font-family: nd-iconfont; }
  .nd-icon-edit:before {
    content: ""; }

/*删除*/
.nd-icon-del {
  font-family: nd-iconfont; }
  .nd-icon-del:before {
    content: ""; }

/*菜单*/
.nd-icon-menu {
  font-family: nd-iconfont; }
  .nd-icon-menu:before {
    content: ""; }

/*设置*/
.nd-icon-menu {
  font-family: nd-iconfont; }
  .nd-icon-menu:before {
    content: ""; }

/*购物车*/
.nd-icon-shopping-cart {
  font-family: nd-iconfont; }
  .nd-icon-shopping-cart:before {
    content: ""; }

/*用户*/
.nd-icon-user {
  font-family: nd-iconfont; }
  .nd-icon-user:before {
    content: ""; }

/*安全*/
.nd-icon-insurance {
  font-family: nd-iconfont; }
  .nd-icon-insurance:before {
    content: ""; }

/*勾*/
.nd-icon-selected {
  font-family: nd-iconfont; }
  .nd-icon-selected:before {
    content: ""; }

/*日期*/
.nd-icon-calendar, .nd-datetime .nd-datetime-field .nd-datetime-date {
  font-family: nd-iconfont; }
  .nd-icon-calendar:before, .nd-datetime .nd-datetime-field .nd-datetime-date:before {
    content: ""; }

/*时间*/
.nd-icon-time, .nd-datetime .nd-datetime-field .nd-datetime-time {
  font-family: nd-iconfont; }
  .nd-icon-time:before, .nd-datetime .nd-datetime-field .nd-datetime-time:before {
    content: ""; }

/*勾*/
.nd-icon-select {
  font-family: nd-iconfont; }
  .nd-icon-select:before {
    content: ""; }

/*叉*/
.nd-icon-cross {
  font-family: nd-iconfont; }
  .nd-icon-cross:before {
    content: ""; }

/**按钮**/
.nd-btn, .nd-datetime .nd-datetime-picker .nd-datetime-btnct > button {
  display: inline-block;
  cursor: pointer;
  background-color: #3f3f3f;
  color: #c1c1c1;
  border-radius: 5px;
  border: 0px;
  padding: 8px 15px; }
  .nd-btn:hover, .nd-datetime .nd-datetime-picker .nd-datetime-btnct > button:hover {
    color: white; }

.nd-btn-nobg {
  background-color: transparent; }

/*无图标*/
/*有图标*/
.nd-btn-small, .nd-datetime .nd-datetime-picker .nd-datetime-btnct > button {
  font-size: 12px; }

.nd-btn-normal {
  font-size: 14px; }

.nd-btn-big {
  font-size: 20px; }

/*无文字*/
.nd-btn-notext {
  padding: 8px; }

/*图标纵向*/
.nd-btn-vert {
  display: block; }

/*datetime css*/
/*弹出选择框*/
.nd-datetime {
  position: relative;
  /*下拉面板*/
  /*日期面板*/
  /*时间面板*/ }
  .nd-datetime .nd-datetime-picker {
    position: absolute;
    z-index: 997;
    margin-top: 3px;
    padding: 10px;
    background-color: #272727;
    color: #c1c1c1;
    /*按钮*/ }
    .nd-datetime .nd-datetime-picker .nd-datetime-btnct {
      padding: 10px 0;
      text-align: center; }
      .nd-datetime .nd-datetime-picker .nd-datetime-btnct :first-child {
        margin-right: 20px; }
    .nd-datetime .nd-datetime-picker .nd-datetime-tbl {
      display: flex; }
  .nd-datetime .nd-datetime-datetbl {
    width: 245px;
    /*显示年月和箭头*/
    /*周日容器*/
    /*日期容器*/ }
    .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct {
      line-height: 30px;
      padding: 5px;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      /*年月*/ }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-ym {
        text-align: center;
        flex: 1; }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct > b {
        padding: 0 10px; }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-leftarrow {
        flex: 0; }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-leftarrow1 {
        flex: 0; }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-rightarrow {
        flex: 0; }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-ymct .nd-datetime-rightarrow1 {
        flex: 0; }
    .nd-datetime .nd-datetime-datetbl .nd-datetime-weekdays > span, .nd-datetime .nd-datetime-datetbl .nd-datetime-dates > span {
      font-size: 14px;
      margin: 5px;
      display: inline-block;
      height: 25px;
      width: 25px;
      text-align: center;
      line-height: 25px; }
    .nd-datetime .nd-datetime-datetbl .nd-datetime-dates {
      border-top: 1px solid #272727;
      border-bottom: 1px solid #272727;
      font-size: 12px; }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-dates .nd-datetime-today {
        color: #84cffc; }
      .nd-datetime .nd-datetime-datetbl .nd-datetime-dates .nd-datetime-selected {
        border-radius: 35px; }
  .nd-datetime .nd-datetime-timetbl {
    width: 210px;
    overflow: hidden;
    padding: 10px; }
    .nd-datetime .nd-datetime-timetbl > input {
      margin-bottom: 10px;
      width: 100%;
      font-size: 16px;
      text-align: center; }
    .nd-datetime .nd-datetime-timetbl .nd-datetime-timect {
      font-size: 14px;
      height: 150px;
      display: flex; }
      .nd-datetime .nd-datetime-timetbl .nd-datetime-timect > div {
        overflow: auto;
        height: 100%;
        flex: 1; }
        .nd-datetime .nd-datetime-timetbl .nd-datetime-timect > div > div {
          line-height: 30px;
          text-align: center; }

/*# sourceMappingURL=datetime.css.map */
