@charset "UTF-8";
/**
 * 基础文件
 * 包含所有变量定义
 */
/*颜色定义*/
/*前景色，深色和浅色*/
/*current color*/
/*浅色框字体颜色*/
/*背景色*/
/*超链接颜色*/
/*颜色 混合*/
/*size定义*/
/*全局padding*/
/*全局圆角*/
/*标题 padding*/
/*表格高度*/
/*下拉框离显示框距离*/
/*按钮padding*/
/*字体大小*/
/*zindex*/
/*global*/
body {
  padding: 0;
  margin: 0;
  background-color: #171717;
  color: #c1c1c1;
  font-size: 14px; }

button, input {
  outline: none; }

/*item active*/
.nd-item-active {
  background-color: #84cffc;
  color: white; }

/*menu active*/
.nd-menu-active {
  background-color: #323232;
  color: white; }

/*link*/
a:link {
  color: #669933;
  text-decoration: none; }

a:hover {
  color: #99CC99; }

a:visited {
  color: #99CC99; }

/*激活背景色*/
.nd-active {
  background-color: #84cffc; }
  .nd-active:hover {
    background-color: multiply(#84cffc, #eeeeee); }

/*强调背景色*/
.nd-success {
  background-color: #517f3c; }
  .nd-success:hover {
    background-color: multiply(#517f3c, #eeeeee); }

/*警告背景色*/
.nd-warn {
  background-color: gold; }
  .nd-warn:hover {
    background-color: multiply(gold, #eeeeee); }

/*框*/
.nd-box-default {
  background-color: #323232;
  color: #c1c1c1; }

.nd-box-active {
  background-color: tint(#84cffc, 30%) !important;
  border: 1px solid #84cffc !important;
  color: #333; }

/*不同颜色框*/
.nd-box-success {
  background-color: #9fc88c;
  border: 1px solid #517f3c;
  color: #333; }

/*不同颜色框*/
.nd-box-warn {
  background-color: #ffef99;
  border: 1px solid gold;
  color: #333; }

/*不同颜色框*/
.nd-box-error {
  background-color: #ff3333;
  border: 1px solid #900;
  color: #333; }

/*边框*/
.nd-border, .nd-select .nd-select-list {
  border: 1px solid #323232; }

.nd-border-shader {
  border: 1px solid #323232;
  box-shadow: #000 3px 3px 5px; }

/*框体padding*/
.nd-padding {
  padding: 20px; }

/*禁用*/
.nd-disable {
  color: grey;
  cursor: not-allowed; }
  .nd-disable:hover {
    color: grey;
    background-color: transparent; }

/*可以click*/
.nd-canclick {
  cursor: pointer; }
  .nd-canclick:hover {
    color: white; }

/*输入框*/
.nd-input, .nd-input-icon, .nd-select .nd-select-inputct, .nd-form input {
  padding: 10px;
  background-color: #171717;
  color: #c1c1c1;
  border-radius: 5px;
  border: 1px solid #2e2e2e; }
  .nd-input:hover, .nd-input-icon:hover, .nd-select .nd-select-inputct:hover, .nd-form input:hover {
    border-color: #222222; }

/*带图标输入框*/
.nd-input-icon, .nd-select .nd-select-inputct {
  display: flex; }
  .nd-input-icon :last-child, .nd-select .nd-select-inputct :last-child {
    flex: 0;
    padding: 0; }
  .nd-input-icon input, .nd-select .nd-select-inputct input {
    margin: 0;
    padding: 0;
    border: 0;
    flex: 1; }

/**滚动条**/
::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background-color: #171717;
  color: #c1c1c1; }

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2e2e2e;
  color: #c1c1c1; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #323232;
    color: #c1c1c1; }

@font-face {
  font-family: "nd-iconfont";
  src: url("font/iconfont.ttf"), url("font/iconfont.woff"); }
/*icon size*/
.nd-icon-sizesmall {
  font-size: 12px; }

.nd-icon-sizenormal {
  font-size: 14px; }

.nd-icon-sizebig {
  font-size: 20px; }

/*icon class*/
/*菜单，树右向箭头*/
.nd-icon-right {
  font-family: nd-iconfont; }
  .nd-icon-right:before {
    content: ""; }

/*复选框，未选中*/
.nd-icon-checkbox, .nd-form .nd-uncheck {
  font-family: nd-iconfont; }
  .nd-icon-checkbox:before, .nd-form .nd-uncheck:before {
    content: ""; }

/*复选框，已选中*/
.nd-icon-checked, .nd-form .nd-checked {
  font-family: nd-iconfont; }
  .nd-icon-checked:before, .nd-form .nd-checked:before {
    content: ""; }

/*单选框，未选中*/
.nd-icon-radio {
  font-family: nd-iconfont; }
  .nd-icon-radio:before {
    content: ""; }

/*单选框，已选中*/
.nd-icon-radio-active, .nd-form .nd-radio-active {
  font-family: nd-iconfont; }
  .nd-icon-radio-active:before, .nd-form .nd-radio-active:before {
    content: ""; }

/*减号*/
.nd-icon-minus {
  font-family: nd-iconfont; }
  .nd-icon-minus:before {
    content: ""; }

/*加号*/
.nd-icon-add {
  font-family: nd-iconfont; }
  .nd-icon-add:before {
    content: ""; }

/*关闭*/
.nd-icon-close, .nd-file .nd-file-showct .nd-file-del {
  font-family: nd-iconfont; }
  .nd-icon-close:before, .nd-file .nd-file-showct .nd-file-del:before {
    content: ""; }

/*加号(不带圆圈)*/
.nd-icon-add-select, .nd-file .nd-file-uploadct .nd-file-uploading .nd-file-add {
  font-family: nd-iconfont; }
  .nd-icon-add-select:before, .nd-file .nd-file-uploadct .nd-file-uploading .nd-file-add:before {
    content: ""; }

/*减号(不带圆圈)*/
.nd-icon-sami-select {
  font-family: nd-iconfont; }
  .nd-icon-sami-select:before {
    content: ""; }

/*提示*/
.nd-icon-prompt {
  font-family: nd-iconfont; }
  .nd-icon-prompt:before {
    content: ""; }

/*查询*/
.nd-icon-search {
  font-family: nd-iconfont; }
  .nd-icon-search:before {
    content: ""; }

/*上箭头*/
.nd-icon-arrow-up {
  font-family: nd-iconfont; }
  .nd-icon-arrow-up:before {
    content: ""; }

/*下箭头*/
.nd-icon-arrow-down, .nd-select .nd-select-inputct > b {
  font-family: nd-iconfont; }
  .nd-icon-arrow-down:before, .nd-select .nd-select-inputct > b:before {
    content: ""; }

/*右箭头*/
.nd-icon-arrow-right {
  font-family: nd-iconfont; }
  .nd-icon-arrow-right:before {
    content: ""; }

/*双右箭头*/
.nd-icon-double-arrow-right {
  font-family: nd-iconfont; }
  .nd-icon-double-arrow-right:before {
    content: ""; }

/*左箭头*/
.nd-icon-arrow-left {
  font-family: nd-iconfont; }
  .nd-icon-arrow-left:before {
    content: ""; }

/*双左箭头*/
.nd-icon-double-arrow-left {
  font-family: nd-iconfont; }
  .nd-icon-double-arrow-left:before {
    content: ""; }

/*编辑*/
.nd-icon-edit {
  font-family: nd-iconfont; }
  .nd-icon-edit:before {
    content: ""; }

/*删除*/
.nd-icon-del {
  font-family: nd-iconfont; }
  .nd-icon-del:before {
    content: ""; }

/*菜单*/
.nd-icon-menu {
  font-family: nd-iconfont; }
  .nd-icon-menu:before {
    content: ""; }

/*设置*/
.nd-icon-menu {
  font-family: nd-iconfont; }
  .nd-icon-menu:before {
    content: ""; }

/*购物车*/
.nd-icon-shopping-cart {
  font-family: nd-iconfont; }
  .nd-icon-shopping-cart:before {
    content: ""; }

/*用户*/
.nd-icon-user {
  font-family: nd-iconfont; }
  .nd-icon-user:before {
    content: ""; }

/*安全*/
.nd-icon-insurance {
  font-family: nd-iconfont; }
  .nd-icon-insurance:before {
    content: ""; }

/*勾*/
.nd-icon-selected {
  font-family: nd-iconfont; }
  .nd-icon-selected:before {
    content: ""; }

/*日期*/
.nd-icon-calendar {
  font-family: nd-iconfont; }
  .nd-icon-calendar:before {
    content: ""; }

/*时间*/
.nd-icon-time {
  font-family: nd-iconfont; }
  .nd-icon-time:before {
    content: ""; }

/*勾*/
.nd-icon-select, .nd-select .nd-select-list .nd-select-selected .nd-select-itemicon {
  font-family: nd-iconfont; }
  .nd-icon-select:before, .nd-select .nd-select-list .nd-select-selected .nd-select-itemicon:before {
    content: ""; }

/*叉*/
.nd-icon-cross {
  font-family: nd-iconfont; }
  .nd-icon-cross:before {
    content: ""; }

/*form css*/
.nd-form .nd-form-item {
  padding: 10px;
  display: flex;
  align-items: center; }
  .nd-form .nd-form-item label {
    margin-right: 10px; }
  .nd-form .nd-form-item input, .nd-form .nd-form-item textarea, .nd-form .nd-form-item .nd-select, .nd-form .nd-form-item .nd-datetime {
    flex: 1; }
.nd-form .nd-radio-active {
  color: #84cffc; }
.nd-form .nd-uncheck {
  margin-right: 10px; }
.nd-form .nd-checked {
  margin-right: 10px;
  color: #84cffc; }

.nd-combo b, .nd-radio b, .nd-select b {
  padding-right: 10px; }

/*select 框*/
.nd-select {
  display: inline-block;
  position: relative;
  /*输入框，下箭头容器*/
  /*下拉框*/ }
  .nd-select .nd-select-inputct {
    overflow: hidden;
    /*搜索框*/ }
    .nd-select .nd-select-inputct > b {
      padding: 0; }
    .nd-select .nd-select-inputct .nd-select-search {
      position: absolute;
      width: 90%;
      opacity: 0.5; }
    .nd-select .nd-select-inputct .nd-select-search-active {
      opacity: 1; }
  .nd-select .nd-select-list {
    background-color: #272727;
    color: #c1c1c1;
    position: absolute;
    max-height: 300px;
    margin-top: 3px;
    overflow: auto;
    z-index: 997;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
    .nd-select .nd-select-list .nd-select-item {
      display: flex;
      line-height: 30px; }
      .nd-select .nd-select-list .nd-select-item .nd-select-itemicon {
        flex: 0;
        padding: 0;
        width: 15px;
        display: inline-block; }
      .nd-select .nd-select-list .nd-select-item .nd-select-itemcontent {
        flex: 1; }
      .nd-select .nd-select-list .nd-select-item:hover {
        background-color: #323232;
        color: #c1c1c1; }
    .nd-select .nd-select-list .nd-select-selected {
      color: #84cffc; }

/*selectlist box*/
.nd-selectlist {
  overflow: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #222222;
  padding: 10px;
  border-radius: 10px; }
  .nd-selectlist .nd-selectlist-item {
    line-height: 30px;
    display: flex;
    flex-direction: row; }
    .nd-selectlist .nd-selectlist-item .nd-selectlist-item-col {
      flex: 1; }

/*横向*/
.nd-selectlist-horizontal {
  border: 1px solid #222222;
  padding: 10px;
  border-radius: 10px;
  overflow: auto; }
  .nd-selectlist-horizontal .nd-selectlist-item {
    display: inline-block;
    margin: 30px; }

.nd-file {
  display: flex;
  flex-direction: row; }
  .nd-file .nd-file-showct {
    position: relative;
    flex: 1;
    width: 100px;
    height: 100px;
    margin-right: 20px; }
    .nd-file .nd-file-showct a.nd-file-content {
      background-color: #323232;
      color: #c1c1c1;
      display: inline-block;
      width: 100%;
      height: 100%;
      background-position: 0 0;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      text-align: center; }
      .nd-file .nd-file-showct a.nd-file-content img {
        width: 100px; }
    .nd-file .nd-file-showct .nd-file-del {
      position: absolute;
      right: 0px;
      font-size: 18px;
      cursor: pointer; }
      .nd-file .nd-file-showct .nd-file-del:hover {
        color: #84cffc; }
  .nd-file .nd-file-uploadct {
    flex: 1;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #323232;
    color: #c1c1c1;
    padding: 0;
    position: relative; }
    .nd-file .nd-file-uploadct .nd-file-input {
      opacity: 0;
      display: block;
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0; }
    .nd-file .nd-file-uploadct .nd-file-uploading {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 100px;
      /*加号按钮*/ }
      .nd-file .nd-file-uploadct .nd-file-uploading .nd-file-add {
        font-size: 30pt; }

/*# sourceMappingURL=form.css.map */
