// @import "base","icon";
/*relation map*/

.nd-tab{
    @extend .nd-main-color;
    flex-direction: column;
    border:$nd-border;
    /*头部 tab区域*/
    .nd-tab-head{
        @extend .nd-header1;
        background-color:$nd-color-grey7;
        box-sizing: border-box;
        border-bottom:$nd-border;
            .nd-tab-item{
                // @extend .nd-header1;
                box-sizing: border-box;
                display:inline-block;
                @extend .nd-canclick;
                @extend .nd-main-color;
                padding:0 $nd-padding*2;
                border-bottom:$nd-border;
                transform:translateY(-1px);
                .nd-tab-close{
                    margin-left:$nd-padding;
                    font-size:$nd-fontsmall;
                    @include nd-clickicon('cross');
                    border-radius:10px;
                }
            }    
            .nd-tab-item-active{
                background-color:$nd-color-active5;
                color:$nd-color-active1;
                font-weight:bold;
                border-top:$nd-border;
                border-left:$nd-border;
                border-right:$nd-border;
                border-bottom:0;
                margin-bottom:1px;
                // height:$nd-head-height + 1;
                transform:translateY(1px);
            }
        // }
        
        
        
        
        
    }

    /*内容区域*/
    .nd-tab-body{
        @extend .nd-padding;
        overflow:auto;
    }
}

/*横向*/

.nd-tab-horizontal{
    display:flex;
    flex-direction: row;
    
    .nd-tab-head{
        @include nd-color(2);
        flex-direction: column;
    }
    .nd-tab-body{
        flex:1;
    }
}