// @import "base.scss";
/* toolbar */
.nd-toolbar{
    // @include nd-color(2);
    display:inline-flex;
    // background-color:$nd-color-grey7;
    border-bottom:$nd-border;
    border-top:$nd-border;
    padding:3px;
    .nd-btn{
        padding:$nd-btn-padding-top;
        @include nd-color(2);

        &:hover{
            @include nd-color(8);
        }
    }
}
