// @import "base";
/********** tree ***********/
.nd-tree{
    @extend .nd-commonbox;
    .nd-tree-nodect{
        
        .nd-tree-node{
            display:inline-block;
            padding:$nd-padding;
            &:hover{
                @extend .nd-item-hovercolor;
            }
        }
        
        .nd-tree-icon{
            display:inline-block;
            margin-right:$nd-padding/2;
            // width:1em;
        }        
        
        .nd-tree-node-open{
            transform:rotate(90deg);
        }

        //checkbox
        .nd-tree-uncheck{
            @include nd-clickicon('checkbox');
        }

        .nd-tree-checked{
            @include nd-clickicon('checked');
        }
    }
    

    .nd-tree-subct{
        display:none;
        padding-left:1em;
    }

    .nd-tree-show{
        display:block;
    }

    .nd-tree-level{
        padding:5px 10px;
    }
}