@backcolor1: rgb(29,97,195);
@backcolor2:#fff;
@lightgrey:#ececec;
@grey:#bcbcbc;
@deepgrey:#9c9c9c;

@forecolor1:#fff;
@forecolor2:#000;
@activecolor:rgb(52,205,187);
@activecolordeep:rgb(32,185,167);
@emphasiscolor:rgb(241,113,91);
@emphasiscolordeep:rgb(221,93,71);
@warncolor:rgb(225,168,9);
@warncolordeep:rgb(205,148,0);

@bordercolor:#cfcfcf;
@headfont:14px;
@bodyfont:12px;
@padding:5px;
@radius:5px;

@fontsizesmaller:10px;
@fontsizesmall:12px;
@fontsizenormal:14px;
@fontsizebig:16px;
@fontsizebigger:18px;
@fontsizebiggest:20px;
/*icon size*/
@icon-size-small:16px;
@icon-size-normal:32px;
@icon-size-big:64px;
/* panel 参数 */
@panel-padding-left:15px;
@panel-padding-top:8px;

/*按钮*/
/*padding*/
@btn-padding-left-small:15px;
@btn-padding-top-small:8px;
@btn-padding-left-normal:15px;
@btn-padding-top-normal:8px;
@btn-padding-left-big:15px;
@btn-padding-top-big:8px;
@btn-corner:6px; /*圆角半径*/

/*global*/
body{
    padding:0;
    margin:0;
}

@font-face {font-family: "nd-iconfont";
    src:url('font/iconfont.ttf'),
        url('font/iconfont.woff')
}

