@import "base.less";

/**按钮**/
.nd-btn{
    display:inline-block;
    background-color:@lightgrey;
    border-radius: @btn-corner;
    border:0px;
    padding:@btn-padding-top-small @btn-padding-left-small;
}

.nd-btn-nobg{
    background-color:transparent;
}
.nd-btn:hover{
    background-color:@grey;
}

/*无图标*/

/*有图标*/
.nd-btn-small{
    font-size:@fontsizesmall;
}

.nd-btn-normal{
    font-size:@fontsizenormal;
}

.nd-btn-big{
    font-size:@fontsizebiggest;
}
/*无文字*/
.nd-btn-notext{
    padding:@btn-padding-top-small - 3;
}

/*图标纵向*/
.nd-btn-vert{
    display:block;
}