@import "base.less";
@import "icon.less";
@import "button.less";

/*datetime css*/

/*弹出选择框*/
.nd-datetime{
    position:relative;
    .nd-datetime-field{
        .nd-input-icon;
        .nd-datetime-date{
            .nd-icon-calendar;
        }
        .nd-datetime-time{
            .nd-icon-time;
        }
    }
    .nd-datetime-picker{
        position:absolute;
        z-index:@nd-combo-index;
        margin-top:1px;
        padding:@nd-padding;
        .nd-border;
        .nd-color4;

        /*底行*/
        .nd-datetime-btnct{
            padding:@nd-padding*2 @nd-padding*2 0 0;
            text-align:right;
            >button{
                .nd-btn;
                .nd-btn-small;
                margin-right:@nd-padding;
            }
        }

        .nd-datetime-tbl{
            display:flex;
        }
    }

    /*日历表*/
    .nd-datetime-datetbl{
        width:245px;
        /*显示年月和箭头*/
        .nd-datetime-ymct{
            line-height:30px;
            padding:@nd-padding;
            font-size:@nd-fontlarge;
            display:flex;
            justify-content: space-between;
            /*年月*/
            .nd-datetime-ym{
                text-align:center;
                flex:1;
            }

            > b{
                padding:0 @nd-padding;
                .nd-canclick;
            }

            .nd-datetime-leftarrow{
                .nd-icon-arrow-left;
                flex:0;
            }
            .nd-datetime-leftarrow1{
                .nd-icon-double-arrow-left;
                flex:0;
            }

            .nd-datetime-rightarrow{
                .nd-icon-arrow-right;
                flex:0;
            }

            .nd-datetime-rightarrow1{
                .nd-icon-double-arrow-right;
                flex:0;
            }
        }

        /*周日容器*/
        .nd-datetime-weekdays,.nd-datetime-dates{
            >span{
                font-size:@nd-fontnormal;
                margin:@nd-padding;
                display:inline-block;
                height:25px;
                width:25px;
                text-align:center;
                line-height: 25px;
            }
        }

        /*日期容器*/
        .nd-datetime-dates{
            border-top:1px solid @nd-color4;
            border-bottom:1px solid @nd-color4;
            font-size:@nd-fontsmall;

            > span{
                .nd-canclick;
            }
            
            .nd-datetime-today{
                color:@nd-activecolor;
            }

            .nd-datetime-selected{
                .nd-item-active;
                border-radius:35px;
            }

            .nd-datetime-disable{
                .nd-disable;
            }
        }

        
    }

    /*时间picker*/
    .nd-datetime-timetbl{
        width:210px;
        height:220px;
        overflow:hidden;
        padding:@nd-padding;
        
        >input{
            .nd-input;
            width:100%;
            font-size:@nd-fontlarge;
            text-align:center;
        }
        .nd-datetime-timect{
            font-size:@nd-fontnormal;
            display:flex;
            >div{
                overflow:auto;
                height:100%;
                flex:1;
                >div{
                    line-height:30px;
                    text-align:center;
                }
                .nd-dateitem-select{
                    .nd-color5;
                }
            }
        }
    }
}
