@import "base.less";
@import "icon.less";
/*表格css*/
.nd-form{

}


.nd-combo,.nd-radio,.nd-select{
    b{
        padding-right:@padding;
    }
}

.nd-select{
    display:inline-block;
    /*值框*/
    .nd-select-value{
        display:none;
        position:relative;
    }
    .nd-select-content{
        border:1px solid @grey;
        border-radius:@padding;
        position: relative;
        
        /*输入框，下箭头容器*/
        .nd-select-firstct{
            padding:0 25px 0 @padding;
        
            > b{
                right:0;
                position:absolute;
            }
            /*显示框*/
            .nd-select-show{
                width:100%;
                box-sizing: border-box;
                border:0;
            }
        }
        

        .nd-select-list{
            background-color:@white;
            z-index:@combo-index;
            padding:@padding * 2;
            position:absolute;
            width:100%;
            box-sizing: border-box;
            border:1px solid @grey;
            border-bottom-left-radius: @padding;
            border-bottom-right-radius: @padding;
        }
    }

    

    >*{
        display:block;
    }
}


