@import "base.less";
/* 图标 */
.nd-ico-size-small{
    background-size: @icon-size-small @icon-size-small;
}

.nd-ico-size-normal{
    background-size: @icon-size-normal @icon-size-normal;
}

.nd-ico-size-big{
    background-size: @icon-size-big @icon-size-big;
}

/*图标图片*/
.nd-ico-check-black{
    background-image:url(imgs/check-black.png);
    background-repeat: no-repeat;
}

.nd-ico-check-white{
    background-image:url(imgs/close-white.png);
    background-repeat: no-repeat;
}

.nd-ico-close-black{
    background-image:url(imgs/close-black.png);
    background-repeat: no-repeat;
}

.nd-ico-close-white{
    background-image:url(imgs/close-white.png);
    background-repeat: no-repeat;
}
.nd-ico-dropdown-black{
    background-image:url(imgs/dropdown-black.png);
    background-repeat: no-repeat;
}
.nd-ico-edit-black{
    background-image:url(imgs/edit-black.png);
    background-repeat: no-repeat;
}

.nd-ico-edit-white{
    background-image:url(imgs/edit-white.png);
    background-repeat: no-repeat;
}

.nd-ico-heart-black{
    background-image:url(imgs/heart-black.png);
    background-repeat: no-repeat;
}


.nd-ico-heart-red{
    background-image:url(imgs/heart-red.png);
    background-repeat: no-repeat;
}

.nd-ico-info-blue{
    background-image:url(imgs/info-blue.png);
    background-repeat: no-repeat;
}

.nd-ico-menu-black{
    background-image:url(imgs/menu-black.png);
    background-repeat: no-repeat;
}
.nd-ico-menu-white{
    background-image:url(imgs/menu-white.png);
    background-repeat: no-repeat;
}
.nd-ico-minus-black{
    background-image:url(imgs/minus-black.png);
    background-repeat: no-repeat;
}
.nd-ico-minus-white{
    background-image:url(imgs/minus-white.png);
    background-repeat: no-repeat;
}
.nd-ico-packup-black{
    background-image:url(imgs/packup-black.png);
    background-repeat: no-repeat;
}
.nd-ico-plus-black{
    background-image:url(imgs/plus-black.png);
    background-repeat: no-repeat;
}
.nd-ico-plus-white{
    background-image:url(imgs/plus-white.png);
    background-repeat: no-repeat;
}
.nd-ico-publish-black{
    background-image:url(imgs/publish-black.png);
    background-repeat: no-repeat;
}
.nd-ico-search-black{
    background-image:url(imgs/search-black.png);
    background-repeat: no-repeat;
}
.nd-ico-setting-black{
    background-image:url(imgs/setting-black.png);
    background-repeat: no-repeat;
}
.nd-ico-star-yellow{
    background-image:url(imgs/star-yellow.png);
    background-repeat: no-repeat;
}
.nd-ico-star-black{
    background-image:url(imgs/start-black.png);
    background-repeat: no-repeat;
}
.nd-ico-star-white{
    background-image:url(imgs/start-white.png);
    background-repeat: no-repeat;
}
.nd-ico-view-black{
    background-image:url(imgs/view-black.png);
    background-repeat: no-repeat;
}
.nd-ico-view-white{
    background-image:url(imgs/view-white.png);
    background-repeat: no-repeat;
}
