@import "base.less";
@font-face {font-family: "nd-iconfont";
    src:url('font/iconfont.ttf'),
    url('font/iconfont.woff')
}

/*icon size*/
.nd-icon-sizesmall{
    font-size:@fontsmall;
}

.nd-icon-sizenormal{
    font-size:@fontnormal;
}

.nd-icon-sizebig{
    font-size:@fontlargest;
}

/*icon class*/
.nd-icon-arrow-right{
    font-family: nd-iconfont;
    &:before{
        content:'\e743';
    }
}
.nd-icon-right{
    font-family: nd-iconfont;
    &:before{
        content:'\e61a';
    }
}

.nd-icon-checkbox{
    font-family: nd-iconfont;
    &:before{
        content:'\e638';
    }
}

.nd-icon-checked{
    font-family: nd-iconfont;
    &:before{
        content:'\e7cc';
    }
}

.nd-icon-radio{
    font-family: nd-iconfont;
    &:before{
        content:'\e6ed';
    }
}

.nd-icon-radio-active{
    font-family: nd-iconfont;
    &:before{
        content:'\e75f';
    }
}


.nd-icon-checked-fill{
    font-family: nd-iconfont;
    &:before{
        content:'\e78d';
    }
}

.nd-icon-arrow-up{
    font-family: nd-iconfont;
    &:before{
        content:'\e746';
    }
}

.nd-icon-arrow-down{
    font-family: nd-iconfont;
    &:before{
        content:'\e7b2';
    }
}

.nd-icon-minus{
    font-family: nd-iconfont;
    &:before{
        content:'\e761';
    }
}

.nd-icon-add{
    font-family: nd-iconfont;
    &:before{
        content:'\e742';
    }
}

.nd-icon-close{
    font-family: nd-iconfont;
    &:before{
        content:'\e760';
    }
}

.nd-icon-prompt{
    font-family: nd-iconfont;
    &:before{
        content:'\e751';
    }
}

.nd-icon-search{
    font-family: nd-iconfont;
    &:before{
        content:'\e7b6';
    }
}
