@import "base.less";
@import "icon.less";
@import "button.less";
/*表格css*/
.nd-listtransfer{
    overflow:hidden;
    padding:@nd-padding;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    .nd-list{
        overflow:auto;
        border:1px solid @nd-color4;
        border-radius:@nd-padding;
        .nd-color1;
        padding:@nd-padding;
        flex:1;
        display:flex;
        flex-direction: column;
    }
    
    .nd-listtransfer-btngrp{
        padding:@nd-padding*2;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        > b{
            .nd-btn;
            margin-bottom:10px;
        }
        .nd-listtransfer-right2{
            .nd-icon-double-arrow-right;
        }

        .nd-listtransfer-right1{
            .nd-icon-arrow-right;
        }

        .nd-listtransfer-left2{
            .nd-icon-double-arrow-left;
        }

        .nd-listtransfer-left1{
            .nd-icon-arrow-left;
        }
    }
}
