@import "base.less";
@import "icon.less";
/********** menu ***********/
.nd-menu{
    z-index: @nd-menu-index;
    font-size:@nd-fontnormal;
    position:relative;
    .nd-color3;
    .nd-menu-subct{
        z-index:@nd-menu-index;
        display:block;
        position:absolute;
        top:0px;
        .nd-color3;
        .nd-menu-nodect{
            position:relative;
            line-height:30px;
            height:30px;
            width:100%;
            .nd-menu-node, a.nd-menu-node{
                color:@nd-forecolor1;
                padding:0 @nd-padding*2;
                /*子菜单箭头*/
                .nd-menu-subicon{
                    float:right;
                    margin-right:@nd-padding;
                    .nd-icon-right;
                }

                b{
                    width:20px;
                    display:inline-block;
                }
                &:hover{
                    .nd-menu-active;
                }
            }
            &:hover{
                .nd-menu-active;
            }
        }
    }
    
    /*第一级菜单*/
    .nd-menu-first{
        display:inline-block;
    }

    /*第一级非popup菜单*/
    .nd-menu-first-nopop{
        display:inline-block;
        position:relative;
        > .nd-menu-nodect{
            display:inline-block;
            width:auto;
        }
    }
}

.nd-menu-popup{
    position:fixed;
    left:0;
    top:0;
    width:100%;
}