@import "base.less";
@import "icon.less";
@import "button.less";
/*pagenation*/
.nd-pagination{
    padding:@nd-padding*2 @nd-padding;
    .nd-color6;
    input,select{
        border:1px solid @nd-color3;
        border-radius:@nd-padding;
        padding:@nd-padding;
    }
    > *{
        margin-right:@nd-padding*4;
        display:inline-block;
    }
    .nd-pagination-pagect{
        > * {
            cursor: pointer;
            &:hover{
                color:@nd-activecolor;
            }
        }

        .nd-pagination-active{
            color:@nd-activecolor;
        }

        .nd-pagination-disable{
            color:@nd-color4;
            cursor:not-allowed;
            &:hover{
                color:@nd-activecolor;
            }
        }
        .nd-pagination-page{
            padding:0 @nd-padding;
        }
        .nd-pagination-leftarrow{
            .nd-icon-arrow-left;
        }
        .nd-pagination-leftarrow1{
            .nd-icon-double-arrow-left;
        }

        .nd-pagination-rightarrow{
            .nd-icon-arrow-right;
        }

        .nd-pagination-rightarrow1{
            .nd-icon-double-arrow-right;
        }
    }

    .nd-pagination-total{
        padding:0 @nd-padding;
    }

    .nd-pagination-go{
        
        input{
            width:50px;
            border:1px solid @nd-color4;
            margin:0 @nd-padding;
        }
    }
}
