@import "base.less";
/* panel */

.nd-panel{
    border-radius:@radius;
    background-color:@white;
    box-sizing: border-box;
    width:100%;
    height:100%;
    display: flex;
    flex-direction:column;

    > div{
        width:inherit;
        box-sizing: border-box;
    }
    /* 头部 */
    .nd-panel-header{
        height: 40px;
        line-height:40px;
        padding:0  @padding 0 @title-padding;
        background-color:@titlecolor-black;
        color:@white;
        border-radius:@radius @radius 0 0;
        display:inline-flex;
        justify-content: space-between;
        /* 标题 */
        .nd-panel-title{
            font-size:@fontnormal;
        }

        /*头部工具栏*/
        .nd-panel-header-bar{
            .nd-btn{
                color:@white;
                font-size:@fontlarger;
            }
            .nd-btn:hover{
                color:@activecolor;
                background-color:transparent;
            }
        }
    }

    .nd-panel-body{
        padding:@padding;
        font-size:@fontnormal;
        flex:1;
        overflow:auto;
    }

    /* toolbar */

    .nd-toolbar{
        background-color:@lightgrey;
        border-bottom:1px solid @grey;
        display:inline-flex;
        .nd-btn{
            padding:@btn-padding-top;
        }
    }

    /* button group*/
    .nd-buttongroup{
        padding:@padding;
        background-color:@lightgrey;
        display:inline-flex;
        justify-content: flex-end;
        .nd-btn{
            margin-right:10px;
        }
    }
}