@import "base.less";
@import "icon.less";
/*relation map*/

.nd-tab{
    .nd-border;
    .nd-color1;
    /*头部 tab区域*/
    .nd-tab-head{
        .nd-color2;
        .nd-tab-item{
            display:inline-block;
            .nd-canclick;
            .nd-color3;
            padding:@nd-padding @nd-padding*2;
            border-bottom:1px solid @nd-color6;

            .nd-tab-close{
                margin-left:@nd-padding;
                font-size:@nd-fontsmall;
                .nd-icon-cross;
                .nd-canclick;
            }
        }

        .nd-tab-item-active{
            .nd-color1;
            color:@nd-activecolor;
            border-bottom:0;
            // border-right:1px solid @nd-color6;
        }
    }

    /*内容区域*/
    .nd-tab-body{
        .nd-padding;
    
    }

}