/*生成 .nd-color1 - 6 */
.nd-color1 {
  background-color: #171717;
  color: #c1c1c1;
}
.nd-color2 {
  background-color: #222222;
  color: #c1c1c1;
}
.nd-color3 {
  background-color: #272727;
  color: #c1c1c1;
}
.nd-color4 {
  background-color: #2e2e2e;
  color: #c1c1c1;
}
.nd-color5 {
  background-color: #323232;
  color: #c1c1c1;
}
.nd-color6 {
  background-color: #3f3f3f;
  color: #c1c1c1;
}
body {
  background-color: #171717;
  color: #c1c1c1;
}
