@import "base.less";
/********** tree ***********/
.nd-tree{
    font-size:@fontnormal;
    .nd-tree-nodect{
        padding:5px;
        .nd-tree-node{
            display:inline-block;
        }
        .nd-tree-checkbox{
            border:@grey;
        }

        .nd-tree-icon{
            margin-right:5px;
        }

    }
    

    
    .nd-tree-node:hover{
        background-color:@lightgrey;
    }



    .nd-tree-subct{
        display:none;
        padding:5px 1em;
    }

    .nd-tree-show{
        display:block;
    }

    .nd-tree-level{
        padding:5px 10px;
    }
}